:root {
    /*--main-font-family: "Press Start 2P";
    --inter-font-family: "Inter";
    --font-weight: 465 785;
    --button-color: #000000;
    --font-title-weight: 785;
    --font-text-weight: 465;*/
}